body{
    overflow-x: hidden;
}


.subtitle{
    padding-top:1%;
    padding-bottom:1%;
}


.subtitle h2{
    margin:0;
}


.servicios-list{
    padding:1%;
}


section:not(#maps,#contacto){
    padding-top:2%;
    padding-bottom:2%;
}


section#servicios{
    padding-top: 3%;
    padding-bottom: 3%;
}



/*---------------------------------------------*/
                /*HEADER*/
/*----------------------------------------------*/

header{
    padding:1%;
    position:fixed;
    top:0;
    z-index: 3;
    width: 100%;
}


header ul {
	list-style: none;
	float:right;
    margin-top: 13px;
}

header ul li {
	float:left;
}


header ul li:not(:first-child){
	margin-left:15px;
}


header ul li a {
    color:white;
}

header ul li a i {
    color:white;
}


header .logo{
    width: 148px;
}

.xs-row{
    position:absolute;
    top:0;
    z-index: 2;
}


.xs-row i{
    float:right;
    font-size: 13rem;
    color:white;
}


.btn-cont{
    height: 48.875px;
}

/*---------------------------------------------*/
                /*SLIDER*/
/*----------------------------------------------*/

.slide{
    position:relative;
    width:100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#slide-1{
	background-image:url(../img/slider/slide-1.jpg);
}


#slide-2{
	background-image:url(../img/slider/slide-2.jpg);
}


.semi-overlay{
   width: 50%;
    height: 100vh;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    z-index: 2;
}


.slogan{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: table;
    overflow:auto; 
    /*height: 100px;*/
    width: 552px;
    color:white;

}

.slogan hr{
    background-color: #6EC39A;
    height: 3px;
    width: 100px;
    float: left;
    border:none;
    /* margin-left: -143px; */
    margin: 0 0 0 -54px;
}

.slogan {
    width: 77%;
    text-align: left;
}

.slogan hr {
    float: left;
    /* margin: auto; */
    text-align: left;
}


.slogan h2{
    font-size: 422%;
}

.owl-carousel .owl-stage-outer{
  z-index: -1 !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -39px !important;
}

.owl-theme .owl-dots .owl-dot span{
      background: #fdf100 !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
      background: #eb5938 !important;
}
.owl-theme .owl-dots .owl-dot{
  outline:none;
}

/*---------------------------------------------*/
                /*GALERIA*/
/*----------------------------------------------*/



.galeria .slider .overlay{
	background: black;
    position: absolute;
    top: 0%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}



.galeria .slider:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.8;
}



.galeria .slider .overlay .search-cont{
        position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table;
    width: 50px;
}


.galeria .slider .overlay .fa-search{
    color:white;
    border:2px solid #6EC39A;
    border-radius:50%;
    padding:15px;
}


/*---------------------------------------------*/
                /*SALONES HOME*/
/*----------------------------------------------*/

.salones-home #palmeras{
    background-color:blue;
    height: 400px;
}

.salones-home #laguna{
    background-color:red;
    height: 400px;
}


.square{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}


/*---------------------------------------------*/
                /*NUESTROS SERVICIOS*/
/*----------------------------------------------*/


.servicios-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
    align-content: flex;
    list-style: none;
    padding:0;
}


.servicios-list ul li {
    width: 145px;
    height: 100px;
    position: relative;
    cursor:pointer;
}

.servicios-list ul li img, .servicios-list ul li h3{
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    display: table;
    z-index: 0;
}



.servicios-list ul li .overlay{
    background: rgba(0,0,0,0.90);
    position: absolute;
    top: 0%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 0%;
    /*opacity: 0;*/
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: 2;
}


.servicios-list ul li .overlay p{
    opacity: 0;
    color: white;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    width: 100%;
}


.servicios-list ul li:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    height: 100%;
    transition:height 0.5s;
}


.servicios-list ul li:hover .overlay p {
    opacity: 1;
    transition:opacity  0.5s 0.1s;
}




/*---------------------------------------------*/
                /*MAP*/
/*----------------------------------------------*/


#googleMap{
    width: 100%;
    height: 400px;
}



/*---------------------------------------------*/
                /*FORMULARIO*/
/*----------------------------------------------*/


.form{
    background-color: #2D2D2D;
}


.form form{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  color:#6EC39A;
  margin-top: 12%;

}

.form form h1{
  font-family: raleway-b;
  font-size: 26px;
}

.form form label,footer form input{
  color:grey;
  font-family: raleway;
}

@-moz-document url-prefix() {
   footer form input[type="date"]{
      color:grey;
      font-family: raleway;
    }
}


.form form .row{
  margin-top: 20px;
}

.form form input,.form form select{
  background-color: transparent !important;
      border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom-color: grey;
    border-radius:0px !important;
  color:grey !important;
  padding-left:0 !important;
  outline:0;
}


.form form textarea{
  background-color: transparent !important;
  border:1px solid grey;
}


.form .btn{
  float:right;
  background-color: transparent;
  border:1px solid #6EC39A;
  padding: 5px 19px 5px 19px;
  color:white;
  font-family: raleway-m;
  font-size: 17px;;
  transition:background-color 0.5s; 
}

.form .btn:hover{
  background-color:#6EC39A;
  transition:background-color 0.5s; 
}


.form-control:focus {
    border-color: #6EC39A !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    transition:border-color 1s;
}



.error{
  display:none;
}





/*---------------------------------------------*/
                /*FOOTER*/
/*----------------------------------------------*/

footer{
    padding-top: 15px;
    background-color: #2D2D2D;
}
footer .flex{
    display:flex;
    flex-direction:row; 
    justify-content: space-evenly;
    align-content:stretch;
     flex-wrap: wrap;
     align-content: flex-start;    
     align-items: center;
   color:white;
   padding-left: 0;
}




footer ul {

   /* width: 407px;*/
    height: 56px;
}

footer ul.left{
    float:left !important;
    margin-top: 4px;
}

footer ul.right{
    float:right !important;
}




footer ul li {
    list-style:none;
    color:white;
    font-family: raleway;
}


footer ul li img{
    width:50px;
}

footer ul li a,footer ul li p{
    float:left;
}

footer ul li i{
    font-size: 25px;
    vertical-align: middle;
    color:#6EC39A;
}


footer ul li a {
    
    color:white;
    transition:color 0.5s;
}

footer ul.left li a {
    font-family: raleway-b;
}

footer ul li a:hover {
    color:#6EC39A;
    text-decoration: none;
    transition:color 0.5s;
}

footer ul li a:active,footer ul li a:focus {
    color:white;
}

footer ul.right li:not(:first-child){
  margin-left: 14px;
}

@media screen\9 { 
    footer ul li:not(:first-child){
        margin-left:25px !important;
    }
}

@-moz-document url-prefix() {
   footer ul li:not(:first-child){
        margin-left:25px !important;
    }
}

